.category-box {
  margin-bottom: $base-default-spacing;

  &.category-box--admin{
    position: relative;
    overflow: hidden;

    &:before{
      content: " ";
      height: 100%;
      width: 1px;
      display: block;
      background-color: $grey-light;
      position: absolute;
      top: 54px;
      left: 0;
    }
  }
}

.category-title {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;

  &.category-title--admin {
    a {
      padding: 10px 0;
    }
  }

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
}

.person-band {
  font-size: 18px;
  line-height: 22px;
  border-bottom: solid 1px $grey-light;
  padding: $base-default-spacing/4 0;
  position: relative;

  &.person-band--admin{
    &:first-child {
      border-top: none;
    }
  }

  &:first-child {
    border-top: solid 1px $grey-light;
  }

  > span {
    display: block;
    position: absolute;
    top: $base-default-spacing/4;
    left: 0;
    width: 8px;
    height: calc(100% - #{$base-default-spacing/2});
    z-index: 1;
  }

  img {
    max-width: 100%;
  }

  .person-band__portrait {
    width: 20%;

    img {
      margin-left: 4px;
    }
  }

  .person-band__img {
    text-align: right;
    white-space: nowrap;
    margin: $base-default-spacing/2 0;

    @media screen and (max-width: $screen-xs) {
      img {
        max-width: 60%;
      }
    }
  }

  .person-band__name {
    margin: $base-default-spacing/2 0;

    div:last-child {
      font-size: 14px;
      line-height: 18px;
    }
  }
}