.directory-box--admin{
  position: relative;
  overflow: hidden;

  &:before{
    content: " ";
    height: 100%;
    width: 1px;
    display: block;
    background-color: $grey-light;
    position: absolute;
    top: 62px;
    left: 8px;
  }

  .directory-band{
    font-size: 20px;
    line-height: 24px;
    padding: 20px 20px 14px;
  }
}

*.header-title {
  background-color: $grey;
  margin: 0 0 $base-default-spacing/2;
  font-size: $font-size-h1;
  line-height: $line-height-base;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  padding: $base-default-spacing 0;


  &.header-title-margin-less{
    margin: 0;
  }

  a {
    color: white;
    display: block;

    &:hover {
      text-decoration: none;
    }

    div {
      font-size: 13px;
    }
  }
}

.directory-band {
  display: block;
  position: relative;
  color: black;
  margin-bottom: 4px;

  &:hover{
    text-decoration: none;
    color:black;
  }

  .arrow-css-next-default{
    position: absolute;
    top: 9px;
    right: 0px;
  }

  > span {
    height: 100%;
    display: block;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }

  div {
    position: relative;
    height: 100%;
    margin-left: 7px;
    padding: 16px 30px 16px 20px;
    font-size: 15px;
    line-height: 19px;

    .directory-band__background {
      position: absolute;
      opacity: 0.5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
