/* height 100% */
html, body {
  height: 100%;

  > div.container {
    height: 100%;
  }
}

/* grid */
.ligne-align {
  font-size: 0;
  > * {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
  }
}

/* default hover */
.default-hover {
  transition: opacity .4s ease-in-out;
  color: black;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.default-hover-shadow {
  @extend .default-hover;
  transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 1);
  }
}

/* CSS Icons */
.arrow-css-next-default {
  position: relative;
  width: 20px;
  height: 40px;
  display: block;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 4px;
    height: 16px;
    background-color: white;
    transform: rotate(-13deg);
  }

  &:after {
    content: " ";
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    width: 4px;
    height: 16px;
    background-color: white;
    transform: rotate(13deg);
  }
}

.arrow-css-previous {
  display: block;
  width: 60px;
  height: 70px;

  span {
    position: relative;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 20px;
    background-color: white;

    &:before {
      content: " ";
      position: absolute;
      top: 4px;
      left: 13px;
      display: block;
      width: 4px;
      height: 12px;
      background-color: $grey;
      transform: rotate(20deg);
    }

    &:after {
      content: " ";
      position: absolute;
      top: 14px;
      left: 13px;
      display: block;
      width: 4px;
      height: 12px;
      background-color: $grey;
      transform: rotate(-20deg);
    }
  }
}

.arrow-css-next {
  display: block;
  width: 60px;
  height: 70px;

  span {
    position: relative;
    top: 20px;
    left: 10px;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 20px;
    background-color: white;

    &:before {
      content: " ";
      position: absolute;
      top: 4px;
      left: 13px;
      display: block;
      width: 4px;
      height: 12px;
      background-color: $grey;
      transform: rotate(-20deg);
    }

    &:after {
      content: " ";
      position: absolute;
      top: 14px;
      left: 13px;
      display: block;
      width: 4px;
      height: 12px;
      background-color: $grey;
      transform: rotate(20deg);
    }
  }
}

.img-box-band {
  text-align: right;
  white-space: nowrap;
  margin: $base-default-spacing/2 0;

  @media screen and (max-width: $screen-xs) {
    img {
      max-width: 60%;
    }
  }
}

.glyphicon {
  font-family: arial, Helvetica, sans-serif;
  &:before {
    font-family: 'Glyphicons Halflings';
    vertical-align: top;
  }
}