.header-home {
  background-color: $grey;
  margin-bottom: $base-default-spacing;
  font-size: 0;

  h1 {
    font-size: $font-size-h1;
    line-height: $line-height-base;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin: $base-default-spacing 0;
  }
  .header-home__img {
    margin-bottom: $base-default-spacing;
    padding-left: $base-default-spacing;
    text-align: center;
    vertical-align: middle;
    width: 49%;
    display: inline-block;

    &:last-child {
      padding-right: $base-default-spacing;
    }

    img {
      max-width: 100%;
    }
  }
}

.message{
  margin-bottom: $base-default-spacing;

  h2{
    font-size: $font-size-h2;
    line-height: $line-height-base;
  }

  p{
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}