.person-header {
  background-color: $grey;
  color: $white;
  padding-bottom: $base-default-spacing/2;

  .person-header__name {
    font-size: 24px;
    line-height: 28px;
  }

  .person-header__jobtitle {
    font-size: 14px;
    line-height: 18px;
  }

  .person-header__category {
    font-size: 13px;
    line-height: 17px;
  }

  img {
    max-width: 100%;
  }
}

.well {
  margin-bottom: 0;
}

.person-address {
  span {
    color: black;
    font-size: 14px;
    line-height: 18px;
  }
}