$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'vars';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'helper';
@import 'head';
@import 'home';
@import 'exploreDirectory';
@import 'exploreCategory';
@import 'person';
@import 'modalPopup';

[class*="col-xs"], [class*="col-sm"] {
  padding-left: $base-default-spacing/2;
  padding-right: $base-default-spacing/2;
}

@media screen and (max-width: $screen-xs) {
  .row {
    margin-left: -$base-default-spacing/2;
    margin-right: -$base-default-spacing/2;
  }

  .container {
    padding-left: $base-default-spacing/2;
    padding-right: $base-default-spacing/2;
  }
}

.header {
  position: relative;

  [class*='arrow-css'] {
    position: absolute;
    top: 0;
  }

  .arrow-css-previous {
    left: 0;
  }

  .arrow-css-next {
    right: 0;
  }
}

.pager {
  margin: 0;
  li > a,
  .pager li > span {
    font-size: 30px;
    margin: 0;
    padding: 22px;
    background-color: transparent;
    border: none;
    color: black;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      text-decoration: none;
    }
  }
  h1 a {
    color: black;
    &:hover {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0;
  padding: 0 0;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.panel-heading {
  display: block;
  text-decoration: none;
  &:hover {
    background-color: $gray-lighter;
    cursor: pointer;
  }
}

.bs-docs-sidenav {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > li:first-child > a {
  border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
  border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav .glyphicon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}

.bs-docs-sidenav a:hover .glyphicon-chevron-right {
  opacity: .5;
}

.bs-docs-sidenav > li > a span:first-child {
  display: inline-block;
  width: 6px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 5px;
}

.nav {
  padding-left: 15px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn.btn-search {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 5px 12px;
}

.btn.btn-remove {
  position: absolute;
  top: 1px;
  right: 41px;
  padding: 5px 12px;
  background-color: #dadada;
  color: grey;
}

.form-group.form-group-search {
  position: relative;
  input {
    padding-right: 86px;
  }
}

.form-group {
  margin-bottom: $base-default-spacing/2;
}