<header class="row">
  <h1 class="header-title text-center">Admin Bottin Festival</h1>
</header>
<div class="row">
  <header class="col-sm-12">
    <h1 class="text-center">Ajouter une fiche</h1>
  </header>
</div>

<div class="directory-box--admin" style="border-bottom: solid 1px grey">
  <div>
    <a href="#" class="clearfix default-hover" ng-click="addPerson($event)">
      <div class="col-md-9 col-sm-9 col-xs-9 directory-band">
        Ajouter une personne
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 img-box-band">
        <div title="ajouter">
          <img width="42" src="images/add.svg" alt="Add"/>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="directory-box--admin" style="border-bottom: solid 1px grey">
  <div>
    <a href="#" class="clearfix default-hover" ng-click="addPersons($event)">
      <div class="col-md-9 col-sm-9 col-xs-9 directory-band">
        Ajouter des personnes
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 img-box-band">
        <div title="ajouter">
          <img width="42" src="images/add.svg" alt="Add"/>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="directory-box--admin" style="border-bottom: solid 1px grey">
  <div>
    <a class="default-hover clearfix" href="#" ng-click="addCategory($event)">
      <div class="col-md-9 col-sm-9 col-xs-9 directory-band">
        Ajouter une catégorie
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3 img-box-band">
        <div title="Ajouter">
          <img width="42" src="images/add.svg" alt="Add"/>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="directory-box--admin" style="border-bottom: solid 1px grey">
  <div>
    <a href="#" class="default-hover clearfix" ng-click="addDirectory($event)">
      <div class="col-md-9 col-sm-9 col-xs-9 directory-band">
        Ajouter un répertoire
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 img-box-band">
        <div href="#" title="Ajouter">
          <img width="42" src="images/add.svg" alt="Add"/>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="clearfix">
  <header class="page-header col-sm-12">
    <h1 class="text-center">Modifier, supprimer une fiche</h1>
  </header>
</div>

<div class="clearfix">
  <div class="has-success" ng-show="information">
    <p class="help-block">{{information}}</p>
  </div>
  <div ng-repeat="directory in directories | orderBy:'name':reverse" class="directory-box--admin">
    <div>
      <span style="background-color: {{directory.colorCode}}"></span>

      <div class="clearfix" style="background-color: {{directory.colorCode}}">
        <div ng-if="directory.categories.length == 0" href="#" class="col-md-9 col-sm-9 col-xs-9 directory-band">
          {{directory.name}}
        </div>
        <a ng-if="directory.categories" href="#"
           class="col-md-9 col-sm-9 col-xs-9 directory-band default-hover glyphicon"
           ng-class="{'glyphicon-plus': !directory.isCollapse, 'glyphicon-minus': directory.isCollapse}"
           ng-click="collapsing(directory, $event)">
          {{directory.name}}
        </a>

        <div class="col-md-3 col-sm-3 col-xs-3 img-box-band">
          <a class="default-hover" href="#" title="modifier" ng-click="modifyDirectory(directory, $event)">
            <img width="42" src="images/modify.svg" alt="modify"/>
          </a>
          <a class="default-hover" href="#" title="supprimer" ng-click="deleteDirectory(directory, $event)">
            <img width="42" src="images/delete.svg" alt="delete"/>
          </a>
        </div>
      </div>
    </div>

    <div ng-class="{collapse: !directory.isCollapse}" ng-show="directory.categories">
      <div class="category-box category-box--admin" style="margin-left: 20px; margin-bottom: 0;"
           ng-repeat="category in directory.categories | orderBy:'name':reverse">
        <h2 class="clearfix category-title" style="margin-bottom: 0;">
          <div ng-if="category.persons.length == 0" class="col-md-9 col-sm-9 col-xs-9" style="padding: 15px 0;"
               href="#">
            {{category.name}}
          </div>
          <a ng-if="category.persons" class="col-md-9 col-sm-9 col-xs-9 default-hover glyphicon"
             ng-class="{'glyphicon-plus': !category.isCollapse, 'glyphicon-minus': category.isCollapse}"
             style="padding: 15px 0;" href="#" ng-click="collapsing(category, $event)">
            {{category.name}}
          </a>

          <div class="col-md-3 col-sm-3 col-xs-3 img-box-band" style="margin-bottom: 0; margin-top: 5px;">
            <a class="default-hover" href="#" title="modifier" ng-click="modifyCategory(category, $event)">
              <img width="42" src="images/modify.svg" alt="modify"/>
            </a>
            <a class="default-hover" href="#" title="supprimer" ng-click="deleteCategory(category, $event)">
              <img width="42" src="images/delete.svg" alt="delete"/>
            </a>
          </div>
        </h2>

        <div ng-class="{collapse: !category.isCollapse}">
          <div class="clearfix person-band person-band--admin" style="margin-left: 20px;"
               ng-repeat="person in category.persons | orderBy:'name':reverse">
            <span style="background-color:{{directory.colorCode}}"></span>

            <div class="col-md-3 col-sm-3 col-xs-3">
              <img ng-if="!person.image" src="images/placeholder.jpg" width="54" alt="{{person.name}}">
              <img ng-if="person.image" src="{{person.image}}" width="54" alt="{{person.name}}">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 person-band__name">
              <div>{{person.name}} {{person.surname}}</div>
              <div>{{person.jobTitle}}</div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 person-band__img">
              <a class="default-hover" href="#" title="modifier" ng-click="modifyPerson(person, $event)">
                <img width="42" src="images/modify.svg" alt="modify"/>
              </a>
              <a class="default-hover" href="#" title="supprimer" ng-click="deletePerson(person, $event)">
                <img width="42" src="images/delete.svg" alt="delete"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="has-success" ng-show="information">
    <p class="help-block">{{information}}</p>
  </div>
</div>


<div class="modal fade" id="person" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content clearfix">
      <h2 class="col-sm-12">Ajouter/modifier une fiche personne</h2>

      <form class="form text-center col-sm-12" name="form" ng-submit="createPerson(form)" novalidate>
        <div class="form-group">
          <input type="text" name="name" placeholder="prénom" required class="form-control"
                 ng-model="person.name">
          <input type="text" name="surname" placeholder="nom" required class="form-control"
                 ng-model="person.surname">
          <input type="text" name="jobTitle" placeholder="Titre" class="form-control"
                 ng-model="person.jobTitle">
          <input type="text" name="image" placeholder="image url" class="form-control"
                 ng-model="person.image">
          <input type="text" name="phone" placeholder="tél bureau extension seulement" class="form-control"
                 ng-model="person.phone">
          <input type="text" name="phoneExt" placeholder="tél Externe" class="form-control"
                 ng-model="person.phoneExt">
          <input type="text" name="phoneCell" placeholder="tél cellulaire" class="form-control"
                 ng-model="person.phoneCell">
          <input type="text" name="email" placeholder="courriel" class="form-control"
                 ng-model="person.email">
          <input type="text" name="note" placeholder="note" class="form-control"
                 ng-model="person.note">
          <select ng-model="directorySelect" class="form-control" required
                  ng-options="directory.name for directory in directories"
                  ng-change="updateCategories(directorySelect)">
            <option value="">-- Choisissez un annuaire --</option>
          </select>
          <select ng-model="categorySelect" class="form-control" required
                  ng-options="category.name for category in categoriesSelect">
            <option value="">-- Choisissez une catégorie --</option>
          </select>
          <button type="submit" ng-show="action == 'add'" class="btn">Ajoutez une personne</button>
          <button type="submit" ng-show="action == 'modify'" class="btn">Modifier une personne</button>
          <button ng-click="cancel()" class="btn btn-default">Annuler</button>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.$error.required && submitted.person">
            Complétez les champs, nom, prénom, annuaire et catégorie.
          </p>
        </div>
        <div class="form-group has-success">
          <p class="help-block" ng-show="success.person">
            <span ng-show="action == 'add'">Créé</span>
            <span ng-show="action == 'modify'">Modifié</span>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="personsBatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content clearfix">

      <h2 class="col-sm-12">Ajouter plusieurs personnes<br>
        Attention il n'y a aucune validation des données par code<br>
        Suivez le <a target="_blank" href="https://bitbucket.org/thomas_thiery_/annuairespectra/wiki/Admin%20Section">format</a> et faites <a target="_blank" href="http://jsonlint.com/">valider vos données</a><br>
      </h2>

      <form class="form text-center col-sm-12" name="formPersons" ng-submit="createPersons(formPersons)" novalidate>
        <div class="form-group">
          <textarea rows="10" name="persons" placeholder="personnes" required class="form-control"
                 ng-model="personsBatch"></textarea>
          <button type="submit" ng-show="action == 'add'" class="btn">Ajoutez plusieurs personnes</button>
          <button ng-click="cancel()" class="btn btn-default">Annuler</button>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="formPersons.$error.required && submitted.persons">
            Complétez le champ personne.
          </p>
        </div>
        <div class="form-group has-success">
          <p class="help-block" ng-show="success.category">
            <span ng-show="action == 'add'">Créé</span>
            <span ng-show="action == 'modify'">Modifié</span>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content clearfix">

      <h2 class="col-sm-12">Ajouter/modifier une catégorie</h2>

      <form class="form text-center col-sm-12" name="formCategory" ng-submit="createCategory(formCategory)" novalidate>
        <div class="form-group">
          <input type="text" name="name" placeholder="nom" required class="form-control"
                 ng-model="category.name">
          <select ng-model="directorySelectCat" class="form-control" required
                  ng-options="directory.name for directory in directories">
            <option value="">-- Choisissez un annuaire --</option>
          </select>
          <button type="submit" ng-show="action == 'add'" class="btn">Ajoutez une catégorie</button>
          <button type="submit" ng-show="action == 'modify'" class="btn">Modifier une catégorie</button>
          <button ng-click="cancel()" class="btn btn-default">Annuler</button>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="formCategory.$error.required && submitted.category">
            Complétez les champs, nom, annuaire.
          </p>
        </div>
        <div class="form-group has-success">
          <p class="help-block" ng-show="success.category">
            <span ng-show="action == 'add'">Créé</span>
            <span ng-show="action == 'modify'">Modifié</span>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="directory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content clearfix">
      <h2 class="col-sm-12">Ajouter/modifier un annuaire</h2>

      <form class="form text-center col-sm-12" name="formDirectory" ng-submit="createDirectory(formDirectory)"
            novalidate>
        <div class="form-group">
          <input type="text" name="name" placeholder="nom" required class="form-control"
                 ng-model="directory.name">
          <input type="text" name="directory" placeholder="code couleur hexadécimal" required class="form-control"
                 ng-model="directory.colorCode">
          <button type="submit" ng-show="action == 'add'" class="btn">Ajoutez un annuaire</button>
          <button type="submit" ng-show="action == 'modify'" class="btn">Modifier un annuaire</button>
          <button ng-click="cancel()" class="btn btn-default">Annuler</button>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="formDirectory.$error.required && submitted.directory">
            Complétez les champs, nom et code couleur.
          </p>
        </div>
        <div class="form-group has-success">
          <p class="help-block" ng-show="success.directory">
            <span ng-show="action == 'add'">Créé</span>
            <span ng-show="action == 'modify'">Modifié</span>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
