<div class="category-box" ng-repeat="category in categories | orderBy:'name':reverse">
  <h2 class="category-title row">
    <div ng-if="category.persons.length == 0" class="col-sm-12" href="#">
      {{category.name}}
    </div>
    <a ng-if="category.persons" class="col-sm-12 default-hover glyphicon"
       ng-class="{'glyphicon-plus': category.isCollapse, 'glyphicon-minus': !category.isCollapse}"
       href="#" ng-click="collapsing(category, $event)">
      {{category.name}}
    </a>
  </h2>

  <div ng-class="{collapse: category.isCollapse}">

    <div class="clearfix person-band" ng-repeat="person in category.persons | orderBy:'name':reverse">
      <span style="background-color:{{directory.colorCode}}"></span>

      <a href="#/person?id={{person._id}}" class="col-md-3 col-sm-3 col-xs-3 person-band__portrait default-hover">
        <img ng-if="!person.image" src="images/placeholder.jpg" width="54" alt="{{person.name}}">
        <img ng-if="person.image" src="{{person.image}}" width="54" alt="{{person.name}}">
      </a>
      <a href="#/person?id={{person._id}}" class="col-md-6 col-sm-6 col-xs-6 person-band__name default-hover">
        <div>{{person.name}} {{person.surname}}</div>
        <div>{{person.jobTitle}}</div>
      </a>

      <div  class="col-md-3 col-sm-3 col-xs-3 person-band__img">
        <a ng-if="person.phoneCell" class="default-hover" href="sms:{{person.phoneCell}}">
          <img width="42" src="images/dialog.png" alt="dialog"/>
        </a>
        <a ng-if="person.phoneExt" class="default-hover" href="tel:{{person.phoneExt}}">
          <img width="42" src="images/tel.png" alt="dialog"/>
        </a>
        <a ng-if="person.phoneCell" class="default-hover" href="tel:{{person.phoneCell}}">
          <img width="42"  src="images/tel.png" alt="phone"/>
        </a>
      </div>
    </div>

  </div>
</div>