<div style="height: 100%;" ng-swipe-right="previous($event)" ng-swipe-left="next($event)">

  <div ng-include src="'partials/header.html'"></div>

  <header class="header row">
    <h1 class="header-title text-center" style="background-color:{{directory.colorCode}}">
      <a href="/" class="default-hover">Bottin Festival<div>(Accueil - Recherche)</div></a>
    </h1>
    <a class="arrow-css-previous default-hover" href="#" ng-click="previous($event)"><span></span></a>
    <a class="arrow-css-next default-hover" href="#" ng-click="next($event)"><span></span></a>
  </header>

  <div ng-include src="'partials/category.html'"></div>
</div>
