<div ng-include src="'partials/header.html'"></div>
<header class="row">
  <h1 class="header-title text-center">Bottin Festival</h1>
</header>

<div ng-include="'partials/search.html'" ></div>

<div class="row">
  <section class="col-sm-12">
    <a class="directory-band default-hover" ng-repeat="directory in directories | orderBy:'name':reverse"
       href="#/directory?name={{directory.name}}">
      <span style="background-color: {{directory.colorCode}}"></span>

      <div>
        <div class="directory-band__background" style="background-color: {{directory.colorCode}}"></div>
        {{directory.name}}
        <span class="arrow-css-next-default"></span>
      </div>
    </a>
  </section>
</div>