<header class="header-band" ng-controller="headerCtrl">

  <div>
    <div ng-repeat="directory in directories" class="color-square" style="background-color: {{directory.colorCode}}"></div>
  </div>

</header>