<div ng-show="showLogin">
  <div ng-include src="'partials/header.html'"></div>
  <header class="header-home row">
    <h1>BOTTIN FESTIVAL</h1>

    <div class="header-home__img">
      <img src="images/FIJM_logo.svg" alt="logo festival de Jazz"/>
    </div>
    <div class="header-home__img">
      <img src="images/FRANCO_logo.svg" alt="logo festival des Francofolies"/>
    </div>
  </header>

  <section class="row message">
    <h2 class="col-sm-12">BIENVENUE</h2>

    <p class="col-sm-12">L’accès au bottin des festivals est accessible aux personnes autorisées seulement.
      Pour en obtenir l’accès, vous devez contacter le département des TI à l’extension 5221
      ou votre représentant interne à l’Équipe Spectra.</p>
  </section>

  <section class="row">
    <form class="form text-center col-sm-12" name="form" ng-submit="login(form)" novalidate>

      <div class="form-group form-group-search">
        <input type="password" name="password" placeholder="Mot de passe" class="form-control form-control" required
               ng-model="user.password">
        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-log-in"></span></button>
      </div>

      <div class="form-group has-error">
        <p class="help-block" ng-show="form.password.$error.required && submitted">
          Entrez un mot de passe.
        </p>

        <p class="help-block">{{ errors.other }}</p>
      </div>

    </form>
  </section>
</div>