<div class="header clearfix" ng-controller="NavbarCtrl" ng-show="isShowLogout()">
  <ul class="nav nav-pills pull-right">
    <li ng-show="currentUser"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
</div>