<div ng-include src="'partials/header.html'"></div>
<header class="header row">
  <h1 class="header-title header-title-margin-less text-center">Contact</h1>
  <a ng-click="back($event);" class="arrow-css-previous default-hover"><span></span></a>

  <div class="clearfix person-header">
    <div class="col-sm-4 col-xs-4 col-md-4 text-right">
      <img ng-if="!person.image" src="images/placeholder.jpg" width="108" alt="{{person.name}}">
      <img ng-if="person.image" src="{{person.image}}" width="108" alt="{{person.name}}">
    </div>
    <div class="col-sm-8 col-xs-8 col-md-8">
      <div class="person-header__name">{{person.name}} {{person.surname}}</div>
      <div class="person-header__jobtitle">{{person.jobTitle}}</div>
      <div class="person-header__category">Catégorie: {{person.category}}</div>
    </div>
  </div>
</header>

<section class="row">
  <div class="well col-sm-12">
    <h4>Fonctions/mots clés:</h4>
    <strong>{{person.note}}</strong>
  </div>
</section>

<address class="person-address">
  <div ng-if="person.phoneCell" class="clearfix">
    <a class="row default-hover" href="tel:{{person.phoneCell}}">
    <span class="col-sm-3 col-md-3 col-xs-3">
      <img width="52" height="52" src="images/tel.png" alt="phone"/>
    </span>
    <span class="col-sm-9 col-md-9 col-xs-9 text-left">
      APPELER son cellulaire<br>
      {{person.phoneCell  | phoneNumber}}
    </span>
    </a>
  </div>
  <div ng-if="person.phone" class="clearfix">
    <a class="row default-hover" href="tel:5142881424,{{person.phone}}">
    <span class="col-sm-3 col-md-3 col-xs-3">
      <img width="52" height="52" src="images/dialog2.png" alt="sms"/>
    </span>
    <span class="col-sm-9 col-md-9 col-xs-9 text-left">
      APPELER au bureau<br>
      514-288-1424 ext. {{person.phone}}
    </span>
    </a>
  </div>
  <div ng-if="person.phoneExt" class="clearfix">
    <a class="row default-hover" href="tel:{{person.phoneExt}}">
    <span class="col-sm-3 col-md-3 col-xs-3">
      <img width="52" height="52" src="images/tel.png" alt="telExt"/>
    </span>
    <span class="col-sm-9 col-md-9 col-xs-9 text-left">
      APPELER au<br>
      {{person.phoneExt | phoneNumber}}
    </span>
    </a>
  </div>
  <div ng-if="person.phoneCell" class="clearfix">
    <a class="row default-hover" href="sms:{{person.phoneCell}}">
    <span class="col-sm-3 col-md-3 col-xs-3">
      <img width="52" height="52" src="images/dialog3.png" alt="sms"/>
    </span>
    <span class="col-sm-9 col-md-9 col-xs-9 text-left">
      Envoyer un SMS<br>
      {{person.phoneCell  | phoneNumber}}
    </span>
    </a>
  </div>
  <div ng-if="person.email" class="clearfix">
    <a class="row default-hover" href="mailto:{{person.email}}">
    <span class="col-sm-3 col-md-3 col-xs-3">
      <img width="52" height="52" src="images/email.png" alt="email"/>
    </span>
    <span class="col-sm-9 col-md-9 col-xs-9 text-left">
     ENVOYER un courriel<br>
     {{person.email}}
    </span>
    </a>
  </div>
</address>
