<div ng-controller="SearchCtrl">
  <div class="row">
    <form class="form text-center col-sm-12" name="formsearch" ng-submit="search(formsearch)" novalidate>
      <div class="form-group form-group-search">
        <input type="text" placeholder="Recherche" class="form-control" ng-model="searchWord" required>
        <a type="remove" ng-click="removeSearch($event)" ng-show="searchWord" class="btn btn-remove"><span class="glyphicon glyphicon-remove"></span></a>
        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
      </div>

      <div class="form-group has-error">
        <p class="help-block" ng-show="errors && submitted">
          Entrez une recherche.
        </p>

        <p class="help-block">{{ errors.other }}</p>
      </div>
    </form>

    <p class="col-sm-12">
      Vous pouvez effectuer une recherche à travers le bottin festival en utilisant le nom, prénom ou poste de la personne
      recherché.
      Vous pouvez aussi naviguer par département/carte ci dessous.
    </p>
  </div>
  <div class="category-box" >
    <div class="clearfix person-band" ng-repeat="person in persons | orderBy:'name':reverse">
      <span style="background-color:{{person.directoryColor}}"></span>

      <a href="#/person?id={{person._id}}" class="col-md-3 col-sm-3 col-xs-3 person-band__portrait default-hover">
        <img ng-if="!person.image" src="images/placeholder.jpg" width="54" alt="{{person.name}}">
        <img ng-if="person.image" src="{{person.image}}" width="54" alt="{{person.name}}">
      </a>
      <a href="#/person?id={{person._id}}" class="col-md-6 col-sm-6 col-xs-6 person-band__name default-hover">
        <div>{{person.name}} {{person.surname}}</div>
        <div>{{person.jobTitle}}</div>
      </a>
      <div   class="col-md-3 col-sm-3 col-xs-3 person-band__img">
        <a ng-if="person.phoneCell" class="default-hover" href="sms:{{person.phoneCell}}">
          <img width="42" src="images/dialog.png" alt="dialog"/>
        </a>
        <a ng-if="person.phoneExt" class="default-hover" href="tel:{{person.phoneExt}}">
          <img width="42" src="images/tel.png" alt="dialog"/>
        </a>
        <a ng-if="person.phoneCell" class="default-hover" href="tel:{{person.phoneCell}}">
          <img width="42"  src="images/tel.png" alt="phone"/>
        </a>
      </div>
    </div>
  </div>
</div>